@import '../../style/sass/variables';

.title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  color: $textColor;
  margin: 0 0 30px;
  position: relative;

  .title h2 {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}